.footer{
  display: flex;
  text-align: center;
  justify-content: space-between;
  background: rgb(244, 247, 248);
  padding: 10px;
  font-size: 11px;
  font-family: sans-serif;
  color: rgb(69, 71, 71);
}

.footer-section{
  margin: 10px;
  flex:100px;
}

.footer-section h4{
  color: blue;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  
}

.footer-section ul{
  list-style: none;
}

.footer-section ul li{
  margin-bottom: 10px;
}

.footer-section p{
  margin-bottom: 15px;
  line-height: 15px;
}

