.header{
  position: fixed;
  width: 100%;
  background-color: rgb(244, 247, 248);
  z-index: 1000;

}

.header-section{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 30px;
}

.header-section a{
 
  text-decoration: none;
  color: rgb(69, 71, 71);
  font-weight: bold;
  font-size: 15px;
  padding: 8px 12px;
}

.header-section a:hover{
  color: blue;

}