/* 중앙모아주기 */

.about-container{
  margin:auto;
  background-color:rgb(244, 247, 248);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-content: center;
  
}

.about-part{
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  background-color:rgb(252, 251, 247);
}

.about-part:hover{
  transform: translate(1px)
}

.about-lmg{
  margin: 10px;
}


.about-part h2{
  margin: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  color: rgb(58, 53, 70);
}

.about-part p{
  font-size: 16px;
  line-height: 1.7;
  color: rgb(72, 71, 73);
 
}



.partner-info h4{
  color: rgb(4, 73, 4);
  margin: 10px;
}
.partner-info p{
  margin: 5px;
}

.partner-info strong{
  color: rgb(64, 59, 68);
  margin: 5px;
}