.login-form{
justify-content: center;
align-items: center;
display: flex;
height: 100vh;
background:  rgb(244, 247, 248);

}

.login-container{
  background: white;
  padding: 40px 50px;
  width: 450px;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(244, 247, 248);
  border-radius: 10px;
  box-shadow:0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease;
 
  
}

.login-container:hover{
transform: translate(-1px);
}


.login-container h2{
  margin-bottom: 30px;
  font-weight: 600;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

.login-container input{
  justify-content: center;
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 10px;
  font-size: 15px;
  border: 0.5px solid rgb(224, 219, 219);
  border-radius: 10px;

}

.login-container button{
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(58, 53, 70);
}
.login-container button:hover{
  background: rgb(232, 239, 243);
}

.login-btn button{
  background: whitesmoke;
}
.create-btn button{
  background-color: whitesmoke;
}

.naver-btn button{
  background-color: rgb(53, 233, 68);
}

.cacao-btn button{
  background-color: rgb(247, 247, 81);
}
